<div class="flex justify-center items-center space-x-2">
  <div class="fixed bottom-1 left-1/2 transform -translate-x-1/2 bg-white p-4 rounded-lg shadow-md z-50">
    <button
      *ngIf="currentPage > 1"
      (click)="prevPage()"
      class="rounded-lg border border-gray-300 px-3 py-1"
    >
      Previous
    </button>
    <ng-container *ngFor="let page of getPageNumbers()">
      <button
        (click)="goToPage(page)"
        [class.font-bold]="currentPage === page"
        class="mx-1 rounded-lg border border-gray-300 px-3 py-1"
        [class.bg-blue-500]="currentPage === page"
        [class.text-white]="currentPage === page"
      >
        {{ page }}
      </button>
    </ng-container>
    <button
      *ngIf="currentPage < totalPages"
      (click)="nextPage()"
      class="rounded-lg border border-gray-300 px-3 py-1"
    >
      Next
    </button>
  </div>
</div>
