<div class="flex min-h-screen items-center justify-center bg-gray-100">
  <div class="w-full max-w-md rounded-lg bg-white p-8 shadow-lg">
    <h2 class="mb-6 text-center text-2xl font-bold">
      {{ isUpdateMode ? "Update Task" : "Create Task" }}
    </h2>

    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="name" class="mb-2 block font-bold text-gray-700"
          >Name</label
        >
        <input
          id="name"
          type="text"
          formControlName="name"
          class="w-full rounded-lg border px-3 py-2 shadow-sm"
          placeholder="Enter task name"
          [class.border-red-500]="
            taskForm.get('name')?.invalid && taskForm.get('name')?.touched
          "
          required
        />
        <div *ngIf="taskForm.get('name')?.errors">
          <small *ngIf="taskForm.get('name')?.errors?.['length']" class="text-red-500">Name must be between 3 and 100 characters.</small>
        </div>
      </div>

      <div class="mb-4">
        <label for="description" class="mb-2 block font-bold text-gray-700"
          >Description</label
        >
        <textarea
          id="description"
          formControlName="description"
          class="w-full rounded-lg border px-3 py-2 shadow-sm"
          placeholder="Enter task description"
        ></textarea>
      </div>

      <div class="mb-4">
        <label for="dueDate" class="mb-2 block font-bold text-gray-700"
          >Due Date</label
        >
        <input
          id="dueDate"
          type="datetime-local"
          formControlName="dueDate"
          class="w-full rounded-lg border px-3 py-2 shadow-sm"
          required
        />
        <div *ngIf="taskForm.get('dueDate')?.errors?.['invalidDate']">
          <small class="text-red-500">The due date must be today or future.</small>
        </div>
      </div>

      <div class="mb-4 flex items-center">
        <input
          id="isDone"
          type="checkbox"
          formControlName="isDone"
          class="mr-2 scale-150 transform"
        />
        <label for="isDone" class="mb-2 font-bold text-gray-700">Done</label>
      </div>

      <div class="mb-4">
        <label class="mb-2 block font-bold text-gray-700"
          >Select Categories:</label
        >
        <app-category-selector
          [availableCategories]="availableCategories"
          [selectedCategories]="selectedCategories"
          (categoriesChanged)="onCategoriesChanged($event)"
        >
        </app-category-selector>
      </div>
      <div class="flex justify-between">
        <button
          type="submit"
          class="rounded-lg bg-blue-500 px-4 py-2 text-white shadow-lg"
          [disabled]="taskForm.invalid"
        >
          {{ isUpdateMode ? "Update Task" : "Create Task" }}
        </button>
        <button
          type="button"
          (click)="onUndo()"
          class="rounded-lg bg-gray-300 px-4 py-2 text-gray-700 shadow-lg"
        >
          Cancel
        </button>
        <button
          type="button"
          (click)="onClear()"
          class="rounded-lg bg-gray-300 px-4 py-2 text-gray-700 shadow-lg"
        >
          Clear
        </button>
      </div>
    </form>
  </div>
</div>
