<div class="mb-6">
  <label for="password" class="mb-2 block font-bold text-gray-700"
    >Password</label
  >
  <input
    type="password"
    id="password"
    [formControl]="control"
    class="w-full rounded-lg border px-3 py-2 shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-400"
    placeholder="Enter your password"
    (blur)="onTouched()"
    required
  />
  <div *ngIf="control.invalid" class="text-red-500 mt-1">
    <small *ngIf="control.errors?.['minlength']">
      Password must be at least 8 characters long.
    </small>
    <small *ngIf="control.errors?.['pattern']">
      Password must contain at least one uppercase letter, one digit, and one special character.
    </small>
  </div>
</div>
