<div class="task-list min-h-screen flex-grow overflow-auto bg-gray-50 p-6">
  <div class="mb-4">
    <label for="search" class="mb-2 block font-bold text-gray-700"
      >Search Tasks:</label
    >
    <div class="flex items-center">
      <input
        id="search"
        type="text"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange()"
        placeholder="Enter task name or description"
        class="flex-grow rounded-lg border border-gray-300 p-2 focus:border-blue-500 focus:outline-none"
      />
      <a
        class="ml-4 whitespace-nowrap rounded-lg bg-blue-500 px-4 py-2 font-bold text-white hover:bg-blue-600 focus:outline-none"
        [routerLink]="['/task-add']"
      >
        Add task
      </a>
    </div>
  </div>

  <app-category-selector
    [availableCategories]="availableCategories"
    [selectedCategories]="selectedCategories"
    (categoriesChanged)="onCategoriesChanged($event)"
  >
  </app-category-selector>

  <div *ngIf="tasks.length > 0; else noTasksTemplate">
    <ul class="space-y-2">
      <li
        *ngFor="let task of tasks"
        class="task-item flex items-center justify-between rounded-lg border border-gray-200 bg-white p-4 shadow-sm transition duration-200 ease-in-out hover:shadow-md"
      >
        <div>
          <h3 class="text-lg font-bold">{{ task.name }}</h3>
          <p class="text-sm text-gray-600">
            <strong>Due:</strong> {{ task?.dueDate | date : 'yyyy.MM.dd HH:mm' }}
          </p>
          <p class="text-sm">
            <strong>Status:</strong>
            <span [ngClass]="task.isDone ? 'text-green-500' : 'text-red-500'">
              {{ task.isDone ? "Done" : "Not Done" }}
            </span>
          </p>
        </div>

        <button
          class="rounded-lg bg-gray-500 px-4 py-2 text-white transition hover:bg-gray-600"
          (click)="onDetailsTask(task)"
        >
          Details
        </button>
      </li>
    </ul>
    <app-pagination
      [totalCount]="pagination.totalCount"
      [pageSize]="pagination.pageSize"
      [currentPage]="pagination.currentPage"
      [hasNextPage]="pagination.hasNextPage"
      [hasPreviousPage]="pagination.hasPreviousPage"
      (pageChange)="onPageChange($event)"
    >
    </app-pagination>
  </div>
  <ng-template #noTasksTemplate>
    <p class="text-center text-gray-500">No tasks found</p>
  </ng-template>
</div>
